.page.theme_dark {
  --accent-color: #ff0070;
  --background-text-color: #000028;
  --text-color: #f1b2ce;
  --header-background: url('../images/cover-image-dark.png');
  --title-color: #db00ff;
  --article-title: var(--accent-color);
  --toggler-hover: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --background-text-color: #000028;
    --text-color: #f1b2ce;
    --header-background: url('../images/cover-image-dark.png');
    --title-color: #db00ff;
    --article-title: var(--accent-color);
    --toggler-hover: rgba(255, 0, 112, 0.4);
  }
}